$color-teal: #599599;
$color-dark: hsl(0, 0%, 21%);
$color-white-grey: hsl(0, 0%, 86%);
$color-off-white: hsl(0, 0%, 95%);
$color-gunmetal: #232C33;
$color-spanish-bistre: #84732B;
$color-champagne: #FFD791;
$color-orange: #FF652F;


$color-primary: $color-dark;
$color-highlight: $color-spanish-bistre;

$color-panel-fg: $color-primary;
$color-panel-bg: $color-off-white;
$color-panel-hl: $color-highlight;
$color-panel-hover: $color-white-grey;
