<!-- Footer -->
<footer class="footer is-light">
    <!-- Columns Container -->
    <div class="columns is-centered">
        <!-- About Blurb -->
        <div class="column is-one-third">
            <hr>
            <h1 class="content is-medium is-uppercase has-text-weight-bold brand">
                prospero gaming
            </h1>
            <p class="content is-small is-uppercase">
                established 1993
                <br>
                ottawa, ontario, canada. 
                <br><br>
                Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. Aenean tempor ac odio id varius. Vestibulum ante 
                ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut quis 
                pharetra augue. Ut finibus mauris eget dolor facilisis, in efficitur felis consequat. 
                In non lacus rutrum, volutpat neque sed, convallis metus.
            </p>
        </div> <!-- End About Blurb -->
        <!-- Contact Info -->
        <div class="column is-one-third">
            <hr>
            <h1 class="content is-medium is-uppercase has-text-weight-bold brand">
                contact us
            </h1>
            <p class="content is-small is-uppercase">
                1385 Woodroffe Avenue
                <br>
                Ottawa, Ontario
                <br>
                Canada
                <br>
                K2G 1V8
                <br>
                Phone number: (613) 727-4723 ext 5482
                <br><br>
                <a href="mailto: info@prosperogaming.ca">
                    Email: info@prosperogaming.ca
                </a>
            </p>
        </div> <!-- End Contact Info -->
        <!-- Socials -->
        <div class="column is-one-third">
            <hr>
            <h1 class="content is-medium is-uppercase has-text-weight-bold brand">
                Follow us
            </h1>
            <ul class="content">
                <li>
                    <a class="content" href="/something">
                        <i class="pr-1 fab fa-instagram"></i>
                        instagram
                    </a>
                </li>
                <li>
                    <a class="content" href="/something">
                        <i class="pr-1 fab fa-linkedin"></i>
                        linkedin
                    </a>
                </li>
                <li>
                    <a class="content" href="/something">
                        <i class="pr-1 fab fa-twitter"></i>
                        twitter
                    </a>
                </li>
                <li>
                    <a class="content brand is-uppercase" href="/something">
                        <i class="pr-1 fas fa-dungeon" alt="Dungeon Blog"></i>
                        prospero blog
                    </a>
                </li>
            </ul>
        </div> <!-- End Socials -->
    </div> <!-- End Columns Container -->
</footer> <!-- End Footer -->