<div class="fixed">
    <!-- Nav -->
    <nav class="navbar is-fixed-top is-dark">
        <!-- ** Based on Bulma navbar ** -->
        <!-- Brand -->
        <div class="navbar-brand brand">
            <a class="navbar-item" href="landing.html">
                <i class="pr-2 fas fa-dungeon" alt="Dungeon Icon"></i>
                <p class="mx-3 is-uppercase">
                    prospero
                </p>
            </a>
        </div> <!-- End Brand -->
        <!-- Navbar Menu -->
        <div class="navbar-menu" id="nav-menu">
            <!-- Navbar-Start -->
            <div class="navbar-start">
                <a class="navbar-item" href="about">
                    About
                </a>
                <a class="navbar-item" href="products">
                    Products
                </a>
                <a class="navbar-item" href="contact">
                    Contact Us
                </a>
            </div> <!-- End Navbar-Start -->
            <!-- Navbar-End -->
            <div class="ml-3 navbar-end is-dark">
                <!-- Nav-Search -->
                <div class="navbar-item">
                    <div class="field has-addons">
                        <!-- Container for search input and icon/button -->
                        <p class="control">
                            <input 
                                class="input" 
                                id="search-bar" 
                                type="text" 
                                placeholder="Search for products"
                            >
                        </p>
                        <p class="control" id="search-icon">
                            <a class="button" href="results.html">
                                <i class="fas fa-search"></i>
                            </a>
                        </p>
                    </div>
                </div> <!-- End Nav-Search -->
                <a class="navbar-item px-5" href="/cart">
                    <i class="pr-2 fas fa-shopping-cart"></i>
                    <span>(0)</span>
                </a>
                <a class="navbar-item" id="login">
                    Log in
                </a>
                <a class="navbar-item" id="signup">
                    Sign up
                </a>
            </div> <!-- End Navbar-End -->
        </div> <!-- End Navbar Menu -->
    </nav> <!-- End Nav -->
</div>