<!-- Games -->
<div class="menu-label">
	<div class="level">
		<div class="level-left">
			<a class="menu-item">
				Tabletop Games
			</a>
		</div>
		<div class="level-right">
			<span class="collapse">
				<a class="expand-collapse">
					<i class="fas fa-plus"></i>
				</a>
			</span>
			<span class="expand">
				<a class="expand-collapse">
					<i class="fas fa-minus"></i>
				</a>
			</span>
		</div>
	</div>
</div>
<ul class="menu-list expand">
	<li>
		<a>
			Call of Cthulhu
		</a>
	</li>
	<li>
		<a>
			Dungeons & Dragons
		</a>
	</li>
	<li>
		<a>
			Pathfinder
		</a>
	</li>
	<li>
		<a class="is-active" href="results.html">
			Warhammer 40k
		</a>
	</li>
	<li>
		<a>
			Warhammer Age of Sigmar
		</a>
	</li>
</ul>
<!-- End Games -->
<hr />
<!-- Books -->
<div class="menu-label">
	<div class="level">
		<div class="level-left">
			<a class="menu-item">
				Books
			</a>
		</div>
		<div class="level-right">
			<span class="menu-item-expand expand">
				<a class="expand-collapse">
					<i class="fas fa-plus"></i>
				</a>
			</span>
			<span class="menu-item-collapse collapse">
				<a class="expand-collapse">
					<i class="fas fa-minus"></i>
				</a>
			</span>
		</div>
	</div>
</div>
<ul class="menu-list collapse">
	<li>
		<a>
			Black Library
		</a>
	</li>
	<li>
		<a>
			Fantasy
		</a>
	</li>
	<li>
		<a>
			Science Fiction
		</a>
	</li>
</ul>
<!-- End Books -->
<hr />
<!-- Other -->
<div class="menu-label">
	<div class="level">
		<div class="level-left">
			<a class="menu-item">
				Other
			</a>
		</div>
		<div class="level-right">
			<span class="collapse">
				<a class="expand-collapse">
					<i class="fas fa-plus"></i>
				</a>
			</span>
			<span class="expand">
				<a class="expand-collapse">
					<i class="fas fa-minus"></i>
				</a>
			</span>
		</div>
	</div>
</div>
<ul class="menu-list expand">
	<li>
		<a>
			Dice
		</a>
	</li>
	<li>
		<a>
			Painting
		</a>
	</li>
	<li>
		<a>
			Miniatures
		</a>
	</li>
</ul> <!-- End Other -->