<!DOCTYPE html>
<!-- 
* Item title
* Item image(s)
* Item price
* Item description
* Quantity selector
* Add to Cart button
* Rating
-->
<html>
    ${head}
<body>
    <header>
        ${nav}
    </header>
    <!-- Results Welcome Dungeon -->
    <section class="p-3 section welcome">
        <div class="level">
            <div class="level-item">
                <div class="ml-5">
                    <i class="fas fa-5x fa-dungeon" alt="Dungeon Icon"></i>
                </div>
            </div>
        </div>
    </section> <!-- End Results Welcome Dungeon -->
    <!-- Main Section -->
    <main class="main-article">
        <section class="hero">
            <!-- Return Link -->
            <div class="pl-3 my-2 return-results">
                <a class="" href="results.html">
                    <i class="fas fa-long-arrow-alt-left fa-xs"></i>
                    return to results
                </a>
            </div> <!-- End Return Link -->
            <!-- Hero Container -->
            <div class="hero-container">
                <!-- Hero Display -->
                <div class="pt-0 hero-body product-container">
                    <!-- Product Image -->
                    <div class="mb-0 box img-section">
                        <div class="product-img-container container">
                            <figure class="image is-square">
                                <img src=../assets/journal.webp />
                            </figure>
                        </div>
                    </div> <!-- End Product Image -->
                    <!-- Thumbs -->
                    <div class="product-thumbs box">
                        <div class="thumbs-container container">
                            <a class="thumb-link">
                                <figure class="thumb is-square">
                                    <img src=../assets/journal.webp />
                                </figure>
                            </a>
                            <a class="thumb-link">
                                <figure class="thumb is-square">
                                    <img src=../assets/journal.webp />
                                </figure>
                            </a>
                            <a class="thumb-link">
                                <figure class="thumb is-square">
                                    <img src=../assets/journal.webp />
                                </figure>
                            </a>
                        </div>
                    </div> <!-- End Thumbs -->
                </div> <!-- End Hero Display -->
                <!-- Product Info -->
                <div class="mr-5 product-info box">
                    <div class="info">
                        <p class="subtitle info-title">
                            <a class="img-link">
                                Warhammer Leather Journal
                            </a>
                        </p>
                        <div class="mb-5 info-desc">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc eleifend purus non dolor viverra, non tincidunt quam
                                tincidunt. Aenean eleifend aliquam molestie. Vivamus eget
                                lorem ut mi sollicitudin tincidunt quis eu tellus
                            </p>
                        </div>
                        <div class="info-rating">
                            <i class="fas fa-star fa-xs"></i>
                            <i class="fas fa-star fa-xs"></i>
                            <i class="fas fa-star fa-xs"></i>
                            <i class="fas fa-star fa-xs"></i>
                            <i class="far fa-star fa-xs"></i>
                        </div>
                        <div class="info-cart">
                            <div class="info-cart">
                                <a class="button add-to-cart">Add to Cart</a>
                            </div>
                        </div>
                        <div class="info-price">
                            <p class="subtitle card-price">
                                $60
                            </p>
                        </div>
                        <div class="info-quantity">
                            <p class="pr-2">
                                Quantity:
                            </p>
                            <div class="select">
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Product Info -->
            </div> <!-- End Hero Container -->
        </section>
    </main> <!-- End Main Section -->
    ${footer}
</body>
</html>
